@mixin flex-center($gap: 20px) {
    display: flex;
    align-items: center;
    gap: $gap;
}

@mixin border-box($padding: 10px, $radius: 7px, $margin-bottom: 15px) {
    padding: $padding;
    margin-bottom: $margin-bottom;
    border-radius: $radius;
    border: 1px solid #5658727d;
}

.comment-card {
    @include border-box();
    @include flex-center();
}

.comment-avatar img {
    max-height: 100px;
}

.comment-content {
    .comment-author {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 7px;
    }

    .comment-text {
        font-size: 14px;
        font-family: var(--font-family-lora);
        color: var(--clr-grey);
    }
}