// Variables
$primary-color: var(--clr-purple);
$text-color: white;
$transition-speed: 0.3s;

// Mixin for Flexbox
@mixin flex-center($gap: 0) {
    display: flex;
    align-items: center;
    gap: $gap;
}

// Header
.header {
    padding: 20px 0;
    background-color: $primary-color;
    color: $text-color;
}

// Navbar
.navbar {
    @include flex-center(20px);
    justify-content: space-between;

    &__logo {
        @include flex-center(8px);
        font-size: 26px;
    }

    &__actions {
        @include flex-center(20px);
    }

    &__menu {
        @include flex-center(30px);
    }

    &__item {
        list-style: none;
    }

    &__link {
        position: relative;
        font-size: 18px;
        color: $text-color;
        text-decoration: none;
        transition: $transition-speed;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -5px;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background-color: $text-color;
            transition: width $transition-speed;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &__search {
        margin-bottom: -2px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

// Menu Icon
.menu-icon {
    display: none;
    border: none;
    font-size: 24px;
    color: $text-color;
    background-color: transparent;
    cursor: pointer;
}

// Responsive Design
@media (max-width: 768px) {
    .navbar__actions {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}