footer {
    background-color: var(--clr-purple);
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-content {
    color: white;
    text-align: center;
}

.copyright-text {
    font-family: var(--font-family-rubik);
    font-weight: 400;
    letter-spacing: 1px;
}