@mixin text-style($font-family, $font-weight, $letter-spacing) {
    font-family: $font-family;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
}

.footer {
    background-color: var(--clr-purple);
    padding-top: 24px;
    padding-bottom: 24px;

    &__content {
        color: white;
        text-align: center;
    }

    &__copyright {
        @include text-style(var(--font-family-rubik), 400, 1px);
    }
}