// Mixins
@mixin flex($direction: row, $gap: 0px) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    gap: $gap;
}

@mixin transition($property: all, $duration: 300ms, $timing: ease-in-out) {
    transition: $property $duration $timing;
}

// Blog List Container
.blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    color: var(--clr-grey);
    cursor: pointer;
}

// Blog Card
.blog-card {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 10px 0px;
    border-radius: 6px;
    padding: 36px 32px;
    min-height: 355px;
    @include transition();

    &:hover {
        background-color: var(--clr-ex-blue);
        color: #fff;
        box-shadow: rgba(130, 0, 221, 0.15) 0px 7px 10px 0px;

        .blog-card__btn .btn--read-more {
            border-color: #fff;
        }

        .blog-card__tags .tag {
            background-color: #fff !important;
            color: var(--clr-purple);
        }
    }
}

// Blog Title
.blog-card__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 8px;
}

// Blog Reactions
.blog-card__reactions {
    @include flex(row, 12px);
    margin-top: 12px;
}

.reaction__count {
    font-size: 15px;
    font-weight: 500;
    font-family: var(--font-family-rubik);
}

// Blog Tags
.blog-card__tags {
    @include flex(row, 10px);
    margin-top: 12px;
}

.tag {
    font-size: 13px;
    font-family: var(--font-family-rubik);
    text-transform: uppercase;
    background-color: var(--clr-ex-blue);
    color: #fff;
    padding: 4px 10px 5px;
    border-radius: 5px;
    @include flex();
    @include transition();
}

// Read More Button
.btn--read-more {
    font-weight: 400;
    font-family: var(--font-family-rubik);
    display: inline-block;
    margin-top: 18px;
    padding: 4px 12px;
    border: 1px solid var(--clr-ex-blue);
    border-radius: 4px;
    @include transition();

    &:hover {
        transform: scale(0.95);
        border-color: #fff;
    }
}

// Responsive Design
@media (max-width: 768px) {
    .blog-card {
        text-align: center;
        @include flex(column);
    }
}